<div class="border">
  <h5 class="border-bottom p-2 text-center">ジャンル検索</h5>

  <ul class="list-unstyled px-2">
    <% genres.each do |genre| %>
    <li class="p-2">
      <%= link_to genre.name, items_path(name: genre.id) %>
    </li>
    <% end %>
  </ul>
</div>
