<div class="border">
  <h5 class="border-bottom p-2 text-center">ジャンル検索</h5>

  <ul class="list-unstyled px-2">
    <li class="p-2">
      ケーキ
    </li>
    <li class="p-2">
      焼き菓子
    </li>
    <li class="p-2">
      プリン
    </li>
    <li class="p-2">
      キャンディ
    </li>
  </ul>
</div>
